body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.number {
  padding: 2px 0;
  white-space: nowrap;
}

#numbers-container {
    padding-left: 30px;
}

.cell {
    border: 1px solid #ccc;
    padding: 8px;
}


.bottom {
    position: fixed;
    bottom: 0;
    width: 99%;
    display: flex;
    padding: 8px;
    background: #eee;
}


.bottom input {
    flex: 1;
}